# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.ArchitectureAndSoftwareDesign_Lab_6-7.iml
# Datasource local storage ignored files
/../../../../../../:\University\ArchitectureAndSoftwareDesign_Lab_6-7-master\.idea\.idea.ArchitectureAndSoftwareDesign_Lab_6-7\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
